.profile {
    width: 68%;
    height: 100px;
    background-color: aqua;
    margin: auto;
}

.anim-1 {
    animation-name: font-resizer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes font-resizer {
    0% {
        font-size: 20px;
        color: coral;
    }

    25% {
        font-size: 30px;
        color: crimson;
    }

    50% {
        font-size: 40px;
        color: palevioletred;
    }

    75% {
        font-size: 50px;
        color: blue;
    }

    100% {
        font-size: 60px;
        color: cornsilk;
    }
}

.fade-in {
    animation: fade-in-animator 3s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    font-size: 70px;
    color: magenta;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes fade-in-animator {
   from {
        opacity: 0;
   }

   to {
        opacity: 1;
   }
}

.rotate-anim {
    animation-name: rotate-animator;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    font-size: 70px;
    color: magenta;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes rotate-animator {
    from {
        transform: rotate(-10deg);
        transform: translateX(20px);
    }

    to {
        transform: rotate(10deg);
        transform: translateX(-20px);
    }
}

.container {
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
}
  
.text span {
    font-size: 60px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
}
  
@keyframes zoomup {
    0%,
    100% {
      color: #00c2ba;
      filter: blur(1px);
      text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
        0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
        0 0 120px #00c2ba;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
}

.sidebar-left {
    width: 20%;
    height: 70vh;
    background-color: rgb(255, 255, 183);
    float: left;
}

.sidebar-right {
    width: 20%;
    height: 70vh;
    background-color: rgb(255, 255, 183);
    float: right;
}

.mid-section {
    width: 60%;
    height: 70vh;
    float: left;
    background-color: lightblue;
}

.sidebar-left p {
    font-weight: 700;
    text-align: center;
    color: rebeccapurple;
    margin-top: 30px;
}

.sidebar-left img {
    width: 80%;
    margin: auto;
    display: block;
}

.button {
    margin: auto;
    display: block;
    width: 70%;
    background-color: midnightblue;
    text-align: center;
    margin-top: 30px;
    border: 5px solid cyan;
    border-radius: 10px;
    color: oldlace;
}

.button:hover {
    background-color: salmon;
    font-weight: 800;
}

.button:hover::after {
    content: "Pay Later!";
}

table {
    border: 5px double red;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    background-color: springgreen;
    text-align: center;
}

td {
    border: 5px solid blueviolet;
}

.footer {
    background-color: darkcyan;
    text-align: center;
}

.footer p {
    color:cyan;
    font-family: fantasy;
}